{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src={% static "js/script.js" %}></script>
    <title>Register Page</title>

    <script>
        $(function(){
    
            $('input#pwd1').passwordstrength({
                'minlength': 6,
                'number'   : true,
                'lowercase'  : true,
                'uppercase'  : true,
                'special'  : true,
                'labels'   : {
                    'general'   : 'The password must have :',
                    'minlength' : 'At least 6 characters',
                    'number'    : 'At least one number (0-9)',
                    'lowercase'   : 'At least one lowercase letter',
                    'uppercase'   : 'At least one uppercase letter',
                    'special'   : 'At least one special character (!@#$%^&*)'
                }
            });            
        });
    </script>

</head>
<body>
    <center>
        {% if messages %}
            {% for message in messages %} 
            <div class="alert {{message.tags}} m-1" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %} 
        {% endif %}
    </center>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    REGISTER
                </div>
                <p class="text-center">Already have an Account? <a href="{% url 'Login' %}" name = 'Login'>Log In</a></p>
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.username}}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{form.first_name}}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{form.last_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password1" id="pwd1" placeholder="Password" required>
                                <span id="toggle1" onclick="toggl1()">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password2" id="pwd2" placeholder="Confirm Password" required>
                                <span id="toggle2" onclick="toggl2()">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-outline-primary" type="submit">Register</button>
                            </div>
                            <br> 
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
</body>
</html>